[build]
builder = "NIXPACKS"
buildCommand = "npm install && npm run build"

[build.nixpacks]
NIXPACKS_NODE_VERSION = "22.13"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
